.mycalendar-container{
    width: 300px;
}

.mycalendar-header-year{
    max-width: 70px;
    font-size: 12pt;
}

.mycalendar-cell-regular{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    padding-top: 4px; 
    text-align: center;
    position: relative;
}
.mycalendar-cell-today{
    height: 25px;
    width: 25px;
    background-color: rgb(230, 230, 40);
    border-radius: 50%;
    display: inline-block;
    padding-top: 4px; 
    text-align: center;
    position: relative;
}
.mycalendar-cell-data{
    height: 25px;
    width: 25px;
    background-color: rgb(192, 238, 252);
    border-radius: 50%;
    display: inline-block;
    padding-top: 4px; 
    text-align: center;
    position: relative;
    cursor: pointer;
}

.mycalendar-cell-default{
    cursor: pointer;
}



.tag-tooltip {
    position: relative;
    display: inline-block;
    cursor: cell;
  }
  .tag-tooltip-text{
    position: absolute;
  }
  .tag-tooltip .tag-tooltip-text {
    width: 200px;
    height:50px;
    visibility: hidden;
    background-color:lightgray;
    color: #000;
    font-size: 9pt;
    text-align: left;
    border-radius: 8px; 
    border-color:gray;
    border-style: solid;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }
  .tag-tooltip:hover .tag-tooltip-text {
    visibility: visible;
  }
  
  .resizable{
    resize: both;
    overflow: auto;
  }