.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pagination-item{
  border: 0px !important;
  background-color: transparent !important;
}

.custom-dropdown{
  outline:none !important;
  border: 0px   !important;
}
.custom-dropdown:hover,
.custom-dropdown:focus,
.custom-dropdown:active{
  border: 0px   !important;
  outline:none !important; 
}

.custom-dropdown-item{
  margin-left: 15px   !important;
}

.custom-subdropdown{
  background-color: white !important;
  color: black  !important;
  border: 0px   !important;
  outline:none !important; 
  padding-left: 0px   !important;
}
.custom-subdropdown:hover:focus:active{
  border: 0px   !important;
  outline:none !important; 
}

.custom-subdropdown-item{
  cursor: default !important; 
}

